{
  "project_info": {
    "project_number": "REEMPLAZA_CON_TU_PROJECT_NUMBER",
    "project_id": "REEMPLAZA_CON_TU_PROJECT_ID",
    "storage_bucket": "REEMPLAZA.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:XXXX:android:XXXX",
        "android_client_info": {
          "package_name": "com.mendozadev.pradoslahuerta"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "TU_API_KEY_ANDROID"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
